a {
	color: #49afcd;
}

#draw-button {
	width: 200px;
	display:block;
	margin: 50px auto;
}

div.center {
	width: 200px;
	margin: 0 auto;
	padding: 50px;
}

body {
	background: url(/static/img/ravenna.png)
}

.alert-block {
	margin: 10px;
}

.page-header{
	background-color: #FEFEF2;
	font-family: Futura, sans-serif;
}

#rules-button {
	width: 98%;
	margin-top: -50px;
}

#header {
	display: inline-block;
	margin: 0 auto; 
}

.game-center {
	width: 300px;
	margin: 0 auto;
	padding: 50px;
	background-color: #FEFEF2;
	font-family: Futura, sans-serif;
}

.game-list {
	list-style: none;
	margin-left: 10px;
	font-size: 18px;
}

#game-actions form {
	float: left;
	margin-right: 10px;
}

#cardfan {
	display: inline-block;
}

#position {
	display: inline-block;
}

#login-page {
	background-color: #FEFEF2;
	font-family: Futura, sans-serif;
}

#afterphoto {
	background-color: blue
}

#card {
	height: 150px;
}

footer {
	text-style: gray;
	font-size: small;
	width: 50px;
	margin: 0 auto;
}

.tablelist {
	list-style: none;
	margin: 0;
}


#map-canvas { 
	height: 250px;
	width: 100%;
}

.awaiting-players {
	color:  #737373;
}

.inset {
	padding-left: 8px;
}

.container {
	background-color:  #FFFFFD;
}

#hand-display {
	margin: 50px auto 100px auto;
}

.play-instruction {	
  text-align: center;
  margin: -50px 0 30px 0;
}

.choose-game-link {
	margin: 10px;
	display: inline-block;
}