a {
	color: #49afcd;
}

div.center {
	width: 200px;
	margin: 0 auto;
	padding: 50px;
}

body.loginbody {
	background: url(/static/img/ravenna.png)
}

.alert-block {
	margin: 10px;
}

.page-header{
	background-color: #FEFEF2;
	font-family: Futura, sans-serif;
}

#rules-button {
	width: 98%;
	margin-top: -50px;
}

#header {
	display: inline-block;
	margin: 0 auto; 
}

.gamecenter {
	width: 300px;
	margin: 0 auto;
	padding: 50px;
	background-color: #FEFEF2;
	font-family: Futura, sans-serif;
}

#cardfan {
	display: inline-block;
}

#position {
	display: inline-block;
}

#login-page {
	background-color: #FEFEF2;
	font-family: Futura, sans-serif;
}

#afterphoto {
	background-color: blue
}

#card {
	height: 150px;
}

footer {
	text-style: gray;
	font-size: small;
	width: 50px;
	margin: 0 auto;
}

.tablelist {
	list-style: none;
	margin: 0;
}


#map-canvas { 
	height: 250px;
	width: 100%;
}

#awaitingplayers {
	color:  #737373;
}

.container {
	background-color:  #FFFFFD;
}