{% extends "base.html" %}
{% block body %}

<ul id="hand-display" class="baraja-container">
  {% for card in names %}
    <li><img src="/static/img/cards/{{ card.image }}" width="150" height="225" alt="{{ card.action }}" title="{{ card.action }}"></li>
  {% endfor %}
</ul>

<div class="play-instruction">
  <strong>Waiting for opponent to play.</strong>
</div>

{% include "shared/scoreboard.html" %}
<p class="inset"><strong>Track your progress as you get closer to Paris!</strong><p>
{% include "shared/map.html" %}
<a class="choose-game-link btn btn-small" href="{{ url_for('choose_game') }}">&laquo; Back to your games</a>

<script>
  $(document).ready(function () {
    var pusher = new Pusher('{{pusher_key}}');
    var channel = pusher.subscribe({{channel|tojson|safe}});
    channel.bind('an_event', function(data) {
        alert('Your opponent has played: ' + data['played']); window.location = "/turn"
    });
    channel.bind('winner', function(data) {
      alert('Your opponent has won!'); window.location = "/loser"
    });
    channel.bind('tied', function(data) {
      alert('This game is a draw!'); window.location = "/tie_game"
    });

    $('#hand-display').baraja().fan({
      speed: 500,
      easing: 'ease-out',
      range: 40,
      direction: 'right',
      origin: {x: 50, y: 475},
      center: true,
      translation: 0
    });
  });
</script>

{% endblock %}
