{% extends "base.html" %}
{% block body %}


<div id="played" class="alert alert-info alert-block" style="display: none">
  <a class="close">×</a>
  <strong>Your opponent played <span id="card"></span>.</strong> Ready to continue playing?
  <a class="btn btn-info" href="/turn">Play!</a>
</div>

<div id="lost" class="alert alert-info" style="display: none">
  <strong>Your opponent has won!</strong>
  <a class="btn btn-info" href="/loser">Continue</a>
</div>

<div id="draw" class="alert alert-info" style="display: none">
  <strong>This game is a draw!</strong>
  <a class="btn btn-info" href="/tie_game">Continue</a>
</div>


<ul id="hand-display" class="baraja-container">
  {% for card in names %}
    <li><img src="/static/img/cards/{{ card.image }}" width="150" height="225" alt="{{ card.action }}" title="{{ card.action }}"></li>
  {% endfor %}
</ul>

<div class="play-instruction">
  <strong>Waiting for opponent to play.</strong>
</div>

{% include "shared/scoreboard.html" %}
<p class="inset"><strong>Track your progress as you get closer to Paris!</strong><p>
{% include "shared/map.html" %}
<a class="choose-game-link btn btn-small" href="{{ url_for('choose_game') }}">&laquo; Back to your games</a>

<script>
  $(document).ready(function () {
    var pusher = new Pusher('{{pusher_key}}');
    var channel = pusher.subscribe({{channel|tojson|safe}});
    channel.bind('an_event', function(data) {
        $("#played").show();
        $("#card").html(data['played']);
        window.scrollTo(0, 0);
    });
    channel.bind('winner', function(data) {
        $("#lost").show();
    });
    channel.bind('tied', function(data) {
        $("#draw").show();
    });

    $('#hand-display').baraja().fan({
      speed: 500,
      easing: 'ease-out',
      range: 40,
      direction: 'right',
      origin: {x: 50, y: 475},
      center: true,
      translation: 0
    });
  });
</script>

{% endblock %}
