 <!DOCTYPE html>
<html>
  <head>
    <title>Mille Bornes</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/mycss.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/baraja.css" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/modernizr.custom.79639.js"></script>
    <script type="text/javascript" src="/static/js/jquery.baraja.js"></script>
     <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClrzPClvGWEiqvmnRuU_7f35jsFfxXFlc&amp;sensor=false&amp;libraries=geometry"></script>
  </head>
  <body>
    <div class="container">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>