{% extends "base.html" %}
{% block body %}

{% if names|length == 7 %}
<h1>My Hand:</h1>
{% for card in names %}
{% if card in valid_moves %}

<h2> <a href= "/play_card/{{card.id}}"> {{ card.action }} </a></h2> 
{% else %}

<script type="text/javascript">
function confirm_alert(node) {
    return confirm("Do you want to discard this card?");
}
</script>
<h2> <a href= "/discard/{{card.id}}" onclick="return confirm_alert(this);"> {{card.action}} </a> </h2>

{% endif %}
{% endfor %}
{% endif %}

Miles = {{miles}}
Going = {{going}}

{% if names|length < 7 %}
<form method = "POST" action = "/draw">
	<input type = "submit" name = "draw" value = "DRAW!"> 
</form>
{% endif %}


{% endblock %}
