{% extends "base.html" %}
{% block body %}

<!-- forces user to draw if cards less than 7 -->
{% if names|length < 7 %}
  <form method="POST" action="/draw">
  	<input type="submit" name="draw" class="btn-large btn btn-success" id="draw-button" value="DRAW!">
  </form>
{% else %}
  <ul id="hand-display" class="baraja-container">
    {% for card in names %}
      <li>
        <a href="/discard/{{card.id}}" {% if card not in valid_moves %}class="invalid-move"{% endif %}>
          <img src="/static/img/cards/{{ card.image }}" width="150" height="225" alt="{{ card.action }}" title="{{ card.action }}">
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="play-instruction">
    <strong>This is your hand.</strong>
    Click to play a card.
  </div>
{% endif %}

{% include "shared/scoreboard.html" %}
<p class="inset"><strong>Track your progress as you get closer to Paris!</strong><p>
{% include "shared/map.html" %}
<a class="choose-game-link btn btn-small" href="{{ url_for('choose_game') }}">&laquo; Back to your games</a>


<script>
  $(document).ready(function () {
    $('#hand-display').baraja().fan({
      speed: 500,
      easing: 'ease-out',
      range: 40,
      direction: 'right',
      origin: {x: 50, y: 475},
      center: true,
      translation: 0
    });

    $('#hand-display').delegate('a.invalid-move', 'click', function (event) {
      if (!confirm("Do you want to discard this card?")) {
        event.preventDefault();
      }
    });
  });
</script>

{% endblock %}
