{% extends "base.html" %}
{% block body %}

<script>
$(document).ready(function () {
	var baraja = $('#baraja-el').baraja();
	    baraja.fan( {
	        speed: 500,
	        easing: 'ease-out',
	        range: 40,
	        direction: 'right',
	        origin: {x: 50, y: 475},
	        center: true,
	        translation: 0
	    } );
});
</script>

<h1>My Hand:</h1>

<script type="text/javascript">
function confirm_alert(node) {
    return confirm("Do you want to discard this card?");
}
</script>

<ul id="baraja-el" class="baraja-container">
{% for card in names %}
{% if card in valid_moves %}
<li><a href= "/play_card/{{card.id}}"> {{ card.image|safe }} </a></li>
{% else %}
<li><a href= "/discard/{{card.id}}" onclick="return confirm_alert(this);"> {{card.image|safe}} </a></li>
{% endif %}
{% endfor %}

</ul>

<br>
<br>

<table class="table table-hover">
<thead class="tablehead">
<tr>

<td><b>Scoreboard</b></td>
<td><b>Your Score</b></td>
<td><b>Opponent Score</b></td>

</tr>
</thead>

<tbody>
<tr class="success">
<td>Miles</td> 
<td>{{miles}}</td>
<td>{{op_miles}}</td>
</tr>

<tr class="success">
<td>Current Status</td> 
<td>{{status}}</td>
<td>{{op_status}}</td>
</tr>

<tr class="success">
<td>Current Speed Limit</td> 
<td>{{limit}}</td>
<td>{{op_speed}}</td>
</tr>

<tr class="success">
	<td>Current Immunities</td>
<td>
<ul class="tablelist">
{% for immunity in player_immunity %}
<li class="tableitem">{{immunity}}</li>
{% endfor %}
</ul>
</td>

<td>
	<ul class="tablelist">
{% for immunity in op_immunity %}
<li>{{immunity}}</li>
</ul>
</td>

{% endfor %}
</tbody>
</table>

{% if names|length < 7 %}
<form method = "POST" action = "/draw">
	<input type = "submit" name = "draw" value = "DRAW!"> 
</form>
{% endif %}

<p><a href="{{ url_for('choose_game') }}">Back to your games</a></p>

{% endblock %}
