{% extends "pregame_base.html" %}
{% block body %}
<div class="background">
<div class="game-center">

<div class="page-header">
  <h1 id="header">My Games</h1>
</div>

<form method = "POST" action = "/create_game">
	<button class="btn btn-info" type = "submit" name = "create game">Play new game!</button> 
</form>

<form method = "POST" action = "/join_game">
	<button class="btn btn-info" type = "submit" name = "join game">Join game!</button> 
</form>

<h2>Resume Game</h2>
{% for game in current_game %}
<h3><a href= "/resume_game/{{game}}"> Game {{ game }} </a></h3> 
{% endfor %}

<h2>Awaiting Players</h2>
{% for game in awaiting_player %}
<h3 id="awaitingplayers">Game {{ game }}</h3> 
{% endfor %}

<h2>Games Won</h2>
{% for game in game_won %}
<h3> <a href= "/resume_game/{{game}}"> Game {{ game }} </a></h3> 
{% endfor %}

<h2>Games Tied</h2>
{% for game in game_tied %}
<h3> <a href= "/resume_game/{{game}}"> Game {{ game }} </a></h3> 
{% endfor %}

<h2>Games Lost</h2>
{% for game in game_lost %}
<h3> <a href= "/resume_game/{{game}}"> Game {{ game }} </a></h3> 
{% endfor %}

{% if current_user.is_authenticated() %}
<p><a href="{{ url_for('logout') }}">Logout</a></p>
{% endif %}

</div>
</div>

{% endblock %}