<div id="map-canvas"></div>
<script>
  $(document).ready(function () {
    var mapOptions = {
      center: new google.maps.LatLng(48.8742, 2.3470),
      zoom: 4,
      minZoom: 4,
      maxZoom: 4,
      disableDefaultUI: true,
      draggable: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

    map.controls[google.maps.ControlPosition.TOP_CENTER].push(document.getElementById('info'));

    var heading1 = new google.maps.LatLng(48.8742, 2.3470);
    var heading2 = new google.maps.LatLng(48.2088, 16.3726);
    var heading3 = new google.maps.LatLng(53.9000, 27.5667);
    var heading = google.maps.geometry.spherical.computeHeading(heading1, heading2);
    var other_heading = google.maps.geometry.spherical.computeHeading(heading1, heading3);
    var miles = 1000 - {{player_miles}}
    var other_miles = 1000 - {{op_miles}}
    var offset = new google.maps.geometry.spherical.computeOffset(heading1, miles, heading, 3956.6);
    var other_offset = new google.maps.geometry.spherical.computeOffset(heading1, other_miles, other_heading, 3956.6);

    var iconBase1 = 'static/img/finishline.png';
    var marker1 = new google.maps.Marker({
      map: map,
      draggable: false,
      icon: iconBase1,
      title: "Finish Line!",
      position: new google.maps.LatLng(48.8742, 2.3470)
    });

    var iconBase2 = 'static/img/sportscargreen.png';
    var marker2 = new google.maps.Marker({
      map: map,
      draggable: false,
      icon: iconBase2,
      title: "Your Car",
      position: offset
    });

    var iconBase3 = 'static/img/sportscarred.png';
    var marker3 = new google.maps.Marker({
        map: map,
        draggable: false,
        icon: iconBase3,
        title: "Your Opponent",
        position: other_offset
    })

  })
</script>